.con-btn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    transition:all 0.3s ease ;
    padding:10px ;
}
.con-btn:hover{
    background-color: rgb(245, 242, 237); 
    border: 2px solid orangered;
    color: orangered;
    transform: scale(1.1);
}
.mylink span a{
    color :orangered;
    text-decoration: none;
    padding-left:3px;
}